.modal-overlay {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-box {
  background-color: grey;
  border-radius: 5px;
  left: 50%;
  margin-top: 4.5rem;
  min-width: 50%;
  padding: 3rem;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;
}

.closed {
  display: none;
}

html {
  font-family: sans-serif;
}

:root {
  --primary-color: hsl(5, 77%, 55%);
}

header {
  background-color: var(--primary-color);
  border-bottom: 1px solid black;
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

main {
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
}

.todo-card {
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem;
  max-width: 524px;
  padding: 0.5rem;
}

.project {
  align-items: center;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  margin: 0 auto 1rem;
  max-width: 524px;
  padding: 0.5rem;
}
